/**
 * custom
 * place custom style in this file
 * add !important to the end if no effect
 * e.g. color: #fff !important;
 * --------------------------------------------------
 *
 */

.site-bg-overlay {
  background: url("../img/site-background-image.jpg") no-repeat;
  background-size: 100% 100%;
}

.div-content-center {
  text-align: center;
}

@media only screen and (max-width: 800px) {
    .esconder-mobile {display:none !important;}
    .tela-full-mobile {width: 100%}
}

div[id="about"] video {
	border: 2px solid #fff;
	border-radius: 0 20px;
}
@media only screen and (min-width: 500px) {
    .esconder-pc {display:none !important;}
}